<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>157</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>156</string>
					<key>Timestamp</key>
					<string>763571850.0458291</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Desktop/Clickio/ClickioSDK_Integration_Example_iOS/Sources/ClickioSDK_Integration_Example_iOS/WebView/WebViewController/WebViewController.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        ClickioConsentSDK.shared.updateConsentStatus()
</string>
				<key>leading</key>
				<string>        logger.log("Ready method was called", level: .info)
        if isWriteCalled { consentUpdatedCallback?() }
</string>
				<key>trailing</key>
				<string>        completion?()
        self.dismiss(animated: true, completion: nil)
    }
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>55</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>54</string>
					<key>Timestamp</key>
					<string>763571022.850329</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Desktop/Clickio/ClickioSDK_Integration_Example_iOS/Sources/ClickioSDK_Integration_Example_iOS/ClickioConsentSDK/ClickioConsentSDK.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    /**
</string>
				<key>leading</key>
				<string>    
    // MARK: - Public methods
</string>
				<key>trailing</key>
				<string>     * Initializes the SDK with the provided configuration.
     - Parameter configuration: The configuration object containing client ID and app language.
     */
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
